@namespace MyHomeServer.Client
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg" />
                    <span class="title">Сервер SashaFPV</span>
                </a>
            </div>
            <div class="desc">C# - тема!</div>
        </div>
        @Body
    </div>
    <FooterView Copyright="2023 Сервер SashaFPV" Links="Links"></FooterView>
</div>

@code
{
    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/GOTC-Team/DishesApp.git",
            BlankTarget = true,
        }
    };
}
