@page "/"

<PageTitle>Головна</PageTitle>

<h1>Вітаю на моєму сервері!</h1>
<hr/>
<h4>Цей проект створено <a href="https://github.com/sashaFPV">sashaFPV</a> та знаходиться в бета-тестуванні!</h4>
<SurveyPrompt Title="How is Blazor working for you?" />
