@namespace MyHomeServer.Client.Pages.User
@layout UserLayout
@page "/user/register"
@using ModelsLibrary;

<div class="main__b__1">
    <div class="register">
        <h3>Registration</h3>
        <Form Model="@_userToRegister">
            <FormItem>
                <AntDesign.Input Placeholder="Username" Size="large" @bind-Value="@_userToRegister.UserName">
                    <Prefix><Icon Type="user" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem>
                <AntDesign.Input Placeholder="Password" Size="large" @bind-Value="@_userToRegister.Password" Type="password">
                    <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.Input>
            </FormItem>

            <FormItem>
                <Button Type="primary" Size="large" OnClick="RegisterUser" class="submit">Register</Button>
                <a class="login" href="/user/login">Log in with an existing account</a>
            </FormItem>
        </Form>
    </div>
</div>
