@page "/register"
@using Client.Static

<h3>Реєстрація</h3>
@if(_registerSuccessful == false)
{
 <EditForm Model="_userToRegister" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator/>
    <div class="form-group my-3">
        <label for="username">Логін:</label>
        <InputText @bind-Value="_userToRegister.UserName" id="username" class="form-control" />
        <ValidationMessage For="@(() => _userToRegister.UserName)"/>
    </div>
    <div class="form-group my-3">
        <label for="email">Email:</label>
        <InputText @bind-Value="_userToRegister.EmailAdress" id="email" class="form-control" />
        <ValidationMessage For="@(() => _userToRegister.EmailAdress)" />
    </div>
    <div class="form-group my-3">
        <label for="password">Пароль:</label>
        <InputText @bind-Value="_userToRegister.Password" id="password" class="form-control" />
        <ValidationMessage For="@(() => _userToRegister.Password)" />
    </div>
    <ValidationSummary />

    <button type="submit" class="btn btn-primary btn-lg">Зареєструватись</button>
    @if(_attemptToRegisterFailed == true)
    {
        <p class="my-3 text-danger">@_attemptToRegisterFailedErrorMessage</p>
    }
    </EditForm>
}
else
{
    <h4>Реєстрація успішна! Вітаємо на моєму сервері. Натисни кнопку нижче щоб продовжити</h4>
    <a href="/signin" class="btn btn-primary btn-lg">Увійти</a>
}

@code {
    [Inject] HttpClient HttpClient { get; set; }
    private UserDTO _userToRegister = new UserDTO() { UserName = "UserName", EmailAdress = "user@example.com", Password = "Password1!" };
    private bool _registerSuccessful = false;
    private bool _attemptToRegisterFailed = false;
    private string? _attemptToRegisterFailedErrorMessage = String.Empty;

    private async Task RegisterUser()
    {
        _attemptToRegisterFailed = false;
        // https://localhost:5003/api/user/register
        HttpResponseMessage httpResponseMessage = await HttpClient.PostAsJsonAsync(APIEndpoints.s_register, _userToRegister);
        if(httpResponseMessage.IsSuccessStatusCode)
        {
            _registerSuccessful = true;
        }
        else
        {
            string serverErrorMessages = await httpResponseMessage.Content.ReadAsStringAsync();
            _attemptToRegisterFailedErrorMessage = $"{serverErrorMessages} Змініть введені дані та спробуйте знову.";
            _attemptToRegisterFailed = true;
        }
    }
}
