@namespace MyHomeServer.Client.Pages.Exception
@page "/exception/403"
@inject NavigationManager NavigationManager

<Result Status="403"
        Title="403"
        SubTitle="Sorry, you are not authorized to access this page.">
    <Extra>
        <Button Type="primary" OnClick="@(()=> {NavigationManager.NavigateTo("/");})">Back Home</Button>
        <Button Type="primary" OnClick="@(()=> {NavigationManager.NavigateTo("/user/register");})">Register</Button>
    </Extra>
</Result>